*{
    background-color: #ccc;
}

body{   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(6, 1fr); 
    height:100vh;
    width: 100vw;
  

    

}

.header{
    background-color: #789db7; 
    grid-column: span 2;
}

.content{
    background-color: #124e78;
    grid-column: span 2;
    
}

.footer{
    background-color: #f0f0c9;
    grid-column: span 2;
}

.quatro{
    grid-column: span 3;
    background-color: #fee5a5;
    justify-content: center;
    align-items: center;

}

.cinco{
    grid-column: span 3;
    background-color: #f2bb05;
    justify-content: center;
    align-items: center;
}

.seis{
    grid-column: span 2;
    background-color: #d74e09;
    justify-content: center;
    align-items: center;
}

.sete{
    grid-column: span 2;
    background-color: #6e0e0a;
    justify-content: center;
    align-items: center;
}

.oito{
    grid-column: span 2;
    background-color: #4a0202;
}